@import "tailwindcss";


@font-face {
   font-family: Rubik;

   src: url(/assets/fonts/static/Rubik-Italic.ttf) format("woff");
 }

 @font-face {
   font-family: Rubik_Medium;

   src: url(/assets/fonts/static/Rubik-Medium.ttf) format("woff");
 }

 @font-face {
   font-family: Rubik_Regular;
   
   src: url(/assets/fonts/static/Rubik-Regular.ttf) format("woff");
 }

 @theme {
  --font-Rubik: "Rubik"
 
 }
 @theme{
--font-Rubik_Medium: "Rubik_Medium"
 }
 @theme {
   --font-Rubik_Regular: "Rubik_Regular"
 }


 /* The slider */
    .loader {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      position: relative;
      animation: rotate 1s linear infinite
    }
  
    .loader::before,
    .loader::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid black;
      animation: prixClipFix 2s linear infinite;
    }
  
    .loader::after {
      inset: 8px;
      transform: rotate3d(90, 90, 0, 180deg);
      border-color: #A729F5;
    }
  
    @keyframes rotate {
      0% {
        transform: rotate(0deg)
      }
  
      100% {
        transform: rotate(360deg)
      }
    }
  
    @keyframes prixClipFix {
      0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
      }
  
      50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
      }
  
      75%,
      100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
      }
    }